 <div class="user-details">
  <h1> My Works </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>1. Surveillance</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Surveillance is used in investigations for fraud as a practice of tracking suspicious activity. It is the most effective method of fastening a business’ security and determining the roots of its fraudulent claims. A considerable benefit of allowing a private investigation agency to direct the surveillance in a business is the level of professional training that their investigators have received. These highly qualified individuals are not only able to gather evidence that tends to stand out in court, but are also capable of doing so without being detected.  A wide range of approaches can be taken to implement surveillance in the workplace. Common methods generally involve the use of electronic and/or physical observance and are known to be the most efficient in gathering significant data about suspect behaviour. </p>
    </div>
    <div class="tech">
      <h2>2. Background Checks</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>An essential procedure that can be implemented in the recruitment phase to prevent fraud in its entirety is the conduction of background checks.Thorough background checks go far beyond simply analyzing a potential candidate’s criminal record. You want to be certain that you hire someone who can thrive in their role. Thus, private investigators are often hired to conduct preliminary research on potential candidates looking to join a business. A certified private investigator is knowledgeable of the specificities he/she needs to seek and is able to properly verify an applicant's personal history without posing any violations. By conducting comprehensive background checks, businesses can ensure that their team is filled with individuals that are presumably less likely to pose a threat to their company. </p>
    </div>
    <div class="tech">
      <h2>3. Undercover Operations</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>	Undercover investigations are generally unnecessary in most cases of fraud. However, when they are required, allowing private investigation agencies to mediate these operations is always the most desirable option. These types of investigations are broadly utilized under strict circumstances where businesses encounter any large, unexpected losses (i.e. inventory loss). Attempting to unravel what triggered these situations is made possible primarily through the use of undercover operations, where specially trained private investigators are able to mask their identity (to avoid detection) in an effort to observe the suspicious activity of those accused/suspected. </p>
    </div>
    <div class="tech">
      <h2>4. Computer Forensics</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>	Today’s society belongs to an ever so rapidly advancing technological world. As a result, a growing quantity of electronically operated fraudulent schemes are being utilized daily. Thus, building expertise to bridge the gap between law and computer science is a very beneficial skill to have. Devices including DVDs, USBs, phones, computers, and even printers are all being used to store unauthorized information capable of harming the reputation of a business. Although IT departments can be very valuable in such situations, they are often not specialized enough to analyze heavily encrypted information and transform it appropriately for use in court. Private investigation companies offer computer forensic specialists who are highly trained to detect and extract “hidden” information. These individuals are able to combat fraud in the workplace by retrieving information from devices without changing their state (or harming them) and recovering deleted (or damaged) files. </p>
    </div>
    <div class="tech">
      <h2>5. Litigation Support</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>	Fraud often leads to the discussion of litigation support. Defendants often take legal action against businesses that choose to accuse them of participating in fraudulent activities. Private investigation agencies have long-term connections with law firms and are able to act as mediators that serve the relationship between businesses and legal support. Most of these agencies also offer experienced paralegal staff that are able to assist businesses with complex investigations and provide legal assistance with frauds of all types. </p>
</div>

