<div class="user-details">
  <h1> 5 Ways Private Investigation Companies Can Help Businesses Combat Fraud: </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Avatar" src="{{ "/assets/img/Avatar.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 1. Surveillance </h3>
    <p>Surveillance is used in investigations for fraud as a practice of tracking suspicious activity. It is the most effective method of fastening a business’ security and determining the roots of its fraudulent claims. A considerable benefit of allowing a private investigation agency to direct the surveillance in a business is the level of professional training that their investigators have received. These highly qualified individuals are not only able to gather evidence that tends to stand out in court, but are also capable of doing so without being detected.  A wide range of approaches can be taken to implement surveillance in the workplace. Common methods generally involve the use of electronic and/or physical observance and are known to be the most efficient in gathering significant data about suspect behaviour. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
